<!-- Handlebars structure-->
{{#each errors}}
   <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h3>Nova Categoria</h3>
<div class="card">
   <div class="card-body">
      <form action="/admin/categorias/new" method="POST">
         <label for="nome">Nome:</label>
         <input type="text" name="nome" id="nome" placeholder="Nome da categoria" class="form-control">
         <label for="slug">Slug: </label>
         <input type="text" name="slug" id="slug" placeholder="Slug da categoria" class="form-control">
         <br>
         <button type="submit" class="btn btn-success">Criar Categoria</button>
      </form>
   </div>
</div>