<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add">
   <button class="btn btn-success">Nova Categoria</button>
</a>

{{#each categorias}}
   <div class="card mt-4">
      <div class="card-body">
         <h4>{{nome}}</h4>
         <small>Slug: {{slug}}</small><br>
         <small>Data de criação: {{createdAt}}</small>
         <a href="/admin/categorias/edit/{{_id}}">
            <button class="btn btn-sm btn-success mt-2">Editar Categoria</button>
         </a>
         <form action="/admin/categorias/deletar" method="post">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger mt-2">Deletar Categoria</button>
         </form>
      </div>
   </div>
{{else}}
   <h4 class="mt-3">Nenhuma categoria registrada</h4>
{{/each}}