{{#each errors}}
   <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card">
   <div class="card-body">
      <h4>Editar Postagem</h4>
      <form action="/admin/postagens/edit" method="post">
      <input type="hidden" name="id" value="{{postagem._id}}"> 
         <label for="titulo">Titulo: </label>
         <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}">
         <label for="slug" class="mt-3">Slug: </label>
         <input type="text" name="slug" class="form-control" value="{{postagem.slug}}">
         <label for="descricao" class="mt-3">Descrição: </label>
         <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}">
         <label for="conteudo" class="mt-3">Conteudo: </label>
         <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
         <label for="categoria" class="mt-3">Categoria: </label>
         <select name="categoria" id="" class="custom-select">
            {{#each categorias}}
               <option value="{{_id}}">{{nome}}</option>
            {{else}}
               <option value="0">Nenhuma categoria registrada</option>
            {{/each}}
         </select>
         <button type="submit" class="btn btn-sm btn-success mt-2">Editar Postagem</button>
      </form>
   </div>
</div>