<!-- Handlebars structure-->
{{#each errors}}
   <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h3>Editar Categoria</h3>
<div class="card">
   <div class="card-body">
      <form action="/admin/categorias/edit" method="POST">
         <input type="hidden" name="id" value="{{categoria._id}}">
         <label for="nome">Nome:</label>
         <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome da categoria" value="{{categoria.nome}}">
         <label for="slug">Slug: </label>
         <input type="text" class="form-control" name="slug" id="slug" placeholder="Slug da categoria" value="{{categoria.slug}}">
         <br>
         <button type="submit" class="btn btn-success">Editar Categoria</button>
      </form>
   </div>
</div>