<h2>Lista de Postagens</h2>
<hr>
<a href="/admin/postagens/add">
   <button class="btn btn-success">Novo Post</button>
</a>
{{#each postagens}}
   <div class="card mt-4">
      <div class="card-body">
         <h4>{{titulo}}</h4>
         <p>Descrição: {{descricao}}</p>
         <small>Data: {{createdAt}}</small><br>
         <small>Categoria: {{categoria.nome}}</small><br>
         <a href="/admin/postagens/edit/{{_id}}"><button type="submit" class="mt-2 btn btn-success btn-sm">Editar Postagem</button></a>
         <a href="/admin/postagens/deletar/{{_id}}"><button type="submit" class="mt-2 btn btn-danger btn-sm">Excluir Postagem</button></a>
      </div>
   </div>
{{else}}
   <p>Nenhuma postagem registrada!</p>
{{/each}}