<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Blog do Node</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {{#unless user.eAdmin}}
         <li class="nav-item">
         <a class="nav-link" href="/categorias">Categorias</a>
         </li>
      {{/unless}}
      {{#if user}}
         {{#if user.eAdmin}}
            <li class="nav-item">
            <a class="nav-link" href="/admin/categorias">Categorias</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/admin/postagens">Postagem</a>
            </li>
            
         {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/registro-usuarios">Registro</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>