{{#unless user}}
<div class="jumbotron">
  <h1 class="display-4">Bem-Vindo ao Blog do Node</h1>
  <p class="lead">Este é um simples blog criado como exercício de aprendizagem de Node.js</p>
  <hr class="my-4">
  <p>Existe duas categorias de usuário nesta plataforma, padrão e administrativos. Ao criar um usuário administrativo você poderá gerênciar as postagens e categorias deste micro-blog.
     Criando um usuário padrão, você poderá apenas visualizar as postagens e categorais, sendo que o usuário padrão não pode acessar as rotas que estão liberadas apenas ao administrador
  </p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>
{{/unless}}

<h2>Postagens recentes:</h2>
{{#each postagens}}
<div class="card mt-2">
   <div class="card-body">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-sm btn-success">Leia mais</button></a>
      <hr>
      <small>Categoria: {{categoria.nome}}</small><br>
      <small>Data de publicação: {{createdAt}}</small>
   </div>
</div>
{{else}}
   <h5>Nenhuma postagem</h5>
{{/each}}