<h4>Login</h4>
<br>
<div class="card">
   <div class="card-body">
      <form action="/usuarios/login" method="post">
         <label for="email">Email: </label>
         <input type="email" name="email" id="" class="form-control">
         <label for="senha">Senha: </label>
         <input type="password" name="senha" id="" class="form-control">
         <button type="submit" class="mt-2 btn btn-sm btn-success">Entrar</button>
      </form>
   </div>
</div>