<h3>Crie sua conta!</h3>
<div class="row">

   <div class="card col-md-6">
      <div class="card-body">
         <h5 class="card-title">Usuário Comum</h5>
         <p class="card-text">Ao criar usuário comum, você somente poderá ver as postagens e categorias do micro-blog.</p>
         <a href="/usuarios/registro" class="btn btn-primary">Criar Usuário</a>
      </div>
   </div>

   <div class="card col-md-6">
      <div class="card-body">
         <h5 class="card-title">Usuário Administrativo</h5>
         <p class="card-text">Ao criar um usuário administrativo, você poderá administrar categorias e postagens deste micro-blog.</p>
         <a href="/usuarios/registro-admin" class="btn btn-primary">Criar Usuário Administrativo</a>
      </div>
   </div>
</div>