{{#each erros}}
   <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>Crie sua conta!</h3>
<div class="card">
   <div class="card-body">
      <form action="" method="post">
         <label for="nome">Nome: </label>
         <input type="text" name="nome" id="" class="form-control">
         <label for="email">Email: </label>
         <input type="email" name="email" id="" class="form-control">
         <label for="senha">Senha: </label>
         <input type="password" name="senha" id="" class="form-control">
         <label for="senha2">Repita a sua senha: </label>
         <input type="password" name="senha2" id="" class="form-control">
         <button type="submit" class="mt-2 btn btn-sm btn-success">Criar Conta</button>
      </form>
   </div>
</div>
