<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-2">
   <div class="card-body">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-sm btn-success">Leia mais</button></a>
      <hr>
      <small>Data de publicação: {{createdAt}}</small>
   </div>
</div>
{{else}}
   <h5>Nenhuma postagem</h5>
{{/each}}