
<div class="card">
   <div class="card-body">
      <h1>{{postagem.titulo}}</h1>
      <hr>
      <small>Data de publicação: {{postagem.createdAt}}</small><br>
      <hr>
      {{postagem.conteudo}}
   </div>
</div>